@page "/MemberList"

<h3 class="fs-4"><i class="bi bi-people-fill"></i> Member List</h3>

<div class="container bg-dark bg-opacity-10 border rounded mt-4 mb-4">
	<EditForm Model="@newMember">
		<div class="row g-3 align-items-center mt-1">			
			<div class="col-3">
				<div>
					<label for="member_name" class="col-form-label fw-bold p-0">Name:</label>
				</div>
				<div>
					<InputText id="member_name" @bind-Value="@newMember.MemberName" placeholder="Member Name" class="form-control form-control-sm mb-3" />
				</div>
			</div>

			<div class="col-3">
				<div>
					<label for="email" class="col-form-label fw-bold p-0">E-mail:</label>
				</div>
				<div>
					<InputText id="email" @bind-Value="@newMember.Email" placeholder="aaa@aaaaa.aa" class="form-control form-control-sm mb-3" />
				</div>
			</div>

			<div class="col-2">
				<div>
					<label for="phone" class="col-form-label fw-bold p-0">Phone:</label>
				</div>
				<div>
					<InputText id="phone" @bind-Value="@newMember.Phone" placeholder="999-999-9999" class="form-control form-control-sm mb-3" />
				</div>
			</div>
			<div class="col-2">
				<button @onclick="() => AddHandler()" class="btn btn-primary btn-sm mt-1 fw-bold">Add new</button>
			</div>
		</div>
	</EditForm>
</div>

<table class="table border">
	<thead class="table-light">
		<tr>
			<th>Name</th>
			<th>E-mail</th>
			<th>Phone#</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		@foreach (var member in members)
		{
			<tr>
				<td>@member.MemberName</td>
				<td>@member.Email</td>
				<td>@member.Phone</td>
				<td>
					<button class="btn btn-secondary btn-sm" @onclick="() => EditHandler(member)">Edit</button>
				</td>
				<td>
					<button class="btn btn-danger btn-sm" @onclick="() => DeleteHandler(member)">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>


